name: test

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "28" # [Required] Define the Erlang/OTP version
          elixir-version: "1.18.4" # [Required] Define the Elixir version

      - name: Restore dependencies cache
        uses: actions/cache@v5
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Run formatting checks
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo --strict

      - name: Run tests
        run: mix test
